:root {
    --primary: #99b898;
    --secondary: #fecea8;
    --tertiary: #ff847c;
    --quaternary: #e84a5f;
    --quinary: #2a363b;

  } 
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      color: var(--secondary);
      background-color: var(--quinary);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* Navigation Start */
header {
    padding: 15px 30px;
    background-color: var(--quinary);
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.5vw;
}

header nav ul li a:hover {
  background: var(--secondary);
  color: var(--quinary);
  border-radius: 3px;
  font-weight: bold;
}
/* Navigation End*/



/* Jumbotron Start*/

.container {
    position: relative;
}

#dot img {
    width: 25%;
}

.content img {
    position: relative;
    top: 1%;
    left: 2%;
    transform: translate(-2%, -56%);
    width: 28%;
    height: auto;
    border-radius: 15px;
}

/* Jumbotron End*/


/* About start */
#about-section {
    font-size: 20px;
}
/* About end */


/* Portfolio start */
#portfolio-section {
    font-size: 25px;
    padding-bottom: 20px;
}

.screenshots {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


/* Portfolio end */



/* Footer start */
footer {
    background: var(--quinary);
    width: 100%;
    padding: 20px 15px;

}

footer h3 {
    color: var(--tertiary);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: center;
}

footer p {
    color: var(--tertiary);
    font-size: 18px;
}

footer a {
    color: var(--tertiary);
}
/* Footer end */