:root {
    --primary: #99b898;
    --secondary: #fecea8;
    --tertiary: #ff847c;
    --quaternary: #e84a5f;
    --quinary: #2a363b;

  } 
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      color: var(--secondary);
      background-color: var(--quinary);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* Navigation Start */
header {
    padding: 15px 30px;
    background-color: var(--quinary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.5vw;
}

header nav ul li a:hover {
  background: var(--secondary);
  color: var(--quinary);
  border-radius: 3px;
  font-weight: bold;
}
/* Navigation End*/



/* Jumbotron Start*/
.container {
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    padding-bottom: 60px;
}

.image {
    width: 80;
    flex-basis: 40%;
}

.text {
    padding-bottom: 15px;
    font-size: 20px;
}

.text p {
    font-size: 22px;
}

/* Jumbotron End*/


/* About start */
#about-section {
    font-size: 20px;
    clear: both;
    padding: 50px;
}
/* About end */


/* Portfolio start */

.text1 {
    padding: 50px;
    padding-bottom: 15px;
    font-size: 20px;
}
.flex-row {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-around;
  }

.flex-row div {
    margin: 5px;
}

  

/* Portfolio end */



/* Footer start */
footer {
    background: var(--quinary);
    width: 100%;
    padding: 20px 15px;

}

footer h3 {
    color: var(--tertiary);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: center;
}

footer p {
    color: var(--tertiary);
    font-size: 18px;
}

footer a {
    color: var(--tertiary);
}
/* Footer end */


/* Media Query for smaller screens */
@media screen and (max-width: 980px) {
    header {
    padding-bottom: 0;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    }

    #cover {
        float: none;
        width: 100%;
    }
}